<template name="pubsView">
  <h2 class="{{#if item.hasCover}}has-cover{{/if}}">{{item.title}}
    {{#if notFound}}Publication not found!{{/if}}</h2>
  {{> itemTags tags=item.tags}}

  {{#if item.hasCover}}
  <div class="item-cover {{#if item.hasTags}}has-tags{{/if}}">
    <a href="{{item.coverOriginalUrl}}" target="_blank"><img src="{{item.coverUrl}}" width="120"></a>
  </div>
  {{/if}}

  {{#unless notFound}}
  {{#markdown}}{{item.text}}{{/markdown}}

  <h3>{{_ 'Downloads:'}}</h3>
  <ul class="downloads">
    {{#each item.files}}
    {{> fileItem}}
    {{/each}}
  </ul>
  {{/unless}}
</template>
