<template name="sidebarHome">
  {{> searchBar}}

  <div id="sidebar-items">
    <h2>{{_ 'Recently added:'}}</h2>
    <ul>
      {{#each recents}}
      {{> recentsItem}}
      {{/each}}
    </ul>
  </div>
</template>

<template name="recentsItem">
  <li class="recents-item" >
    <a href="{{pathFor route code_url=code_url}}">
      <div class="item-image">
        <img src="{{image}}">
      </div>
      <div class="item-content">
        <h3>{{title}}</h3>
        <small>{{date}}</small>
      </div>
    </a>
  </li>
</template>
