html {
    height: 100%;
}

body {
    background: #ECEAE7;
    height: 100%;
}

a {
    color: #D46715;

    &:hover, &:active, &:focus {
        color: #b24200;
    }
}

.btn-primary {
    color: #fff;
    background-color: #D46715;
    border-color: #c45310;

    &:hover, &:active, &:focus {
        background-color: #c45310 !important;
        border-color: #b24200 !important;
        outline: none !important;
    }
}

.nav-decorator {
    background: #373433;
    height: 42px;
    width: 100%;
    position: absolute;
    top: 47px;
    z-index: -1;
}

.visible-xxs {
    display: none;
}

@media screen and (max-width: 370px) {
    .hidden-xxs {
        display: none;
    }
    .visible-xxs {
        display: block;
    }
}

#logo {
    background: #D26725;
    width: 80px;
    height: 82px;
    text-align: center;
    color: #fff;
    font-size: 28px;
    line-height: 26px;
    padding-top: 14px;
    float: left;
    font-family: Tahoma;
}

#logo small {
    font-size: 18px;
}

#navigation {
    margin: 0;
    background: #373433;
    height: 42px;
    width: 100%;
    list-style: none;
    padding: 0 0 0 100px;

    li {
        color: #fff;
        float: left;
        padding: 13px 30px 0 0px;

        &.active {
            font-weight: bold;
            a {
                color: #ddd;
            }
        }
        
        a {
            color: #fff;
            cursor: pointer;
        }
    }
}

.navbar-toggle {
    display: none;
    position: absolute;
    padding: 9px 10px;
    background: none;
    border: 0 none;
    right: 0px;
    top: 45px;

    .sr-only {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0,0,0,0);
        border: 0;
    }

    .icon-bar {
        background-color: #fff;
    }

    .icon-bar {
        display: block;
        width: 22px;
        height: 2px;
        border-radius: 1px;
    }
    .icon-bar+.icon-bar {
        margin-top: 4px;
    }
}

#sidebar-menu {
    display: none;
    margin-top: 15px;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        
        li {
            margin: 0;
            padding: 0;

            a {
                display: block;
                padding: 5px 30px 5px 20px;

                i {
                    float: right;
                    margin-top: 4px;
                }

                &:hover {
                    text-decoration: none;
                    background: #f0f0f0;
                }
            }
        }
    }
}

@media screen and (max-width: 755px) {
    .navbar-toggle {
        display: block;
    }
    #sidebar {
        display: none;
    }
    #sidebar.on {
        display: block;
    }
}

@media screen and (max-width: 550px) {
    #navigation li {
        display: none;
    }
    #navigation #login-dropdown-list {
        display: block;
        .dropdown-menu {
            left: -90px;
        }
    }
    #sidebar-items {
        overflow: hidden;
        width: 260px;
    }
    #sidebar-menu {
        display: block;
    }
}


#login-dropdown-list .dropdown-menu a {
    color: #D46715 !important;
}

#top-header {
    margin: 0 0 0 80px;
    padding: 13px 0 0 15px;
    height: 47px;
    color: rgb(101, 96, 94);
    font-size: 21px;
    font-family: tahoma, sans-serif;
}

.container {
    padding: 0;
    background: #FFF;
    box-shadow: 0 0 2.5em .5em rgba(0, 0, 0, 0.4);
    z-index: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
}

#main {
    clear: both;
    flex: 1;
    display: flex;
    flex-direction: row;
}

#sidebar {
    width: 260px;
    padding-bottom: 10px;

    .sidebar-section {
        margin-top: 20px;
    }

    h2 {
        margin: 0 0 17px 20px;
        padding: 0;
        font-size: 16px;
        color: #777;
    }

    h3 {
        margin: 0;
        padding: 0;
        font-size: 14px;
        color: #555;
    }

    .categories {
        list-style: none;
        margin: 0;
        padding: 0;
        
        li {
            margin: 0;
            padding: 0;

            a {
                display: block;
                padding: 5px 30px 5px 20px;

                i {
                    float: right;
                    margin-top: 4px;
                }

                &:hover {
                    text-decoration: none;
                    background: #f0f0f0;
                }
            }
        }
    }
}

#searchbar {
    padding: 20px;
    position: relative;

    input {
        background: transparent;
        border: 0 none;
        width: 100%;
        border-bottom: 1px solid #ddd;
        padding-left: 20px;

        &:focus {
            outline: none;
            border-bottom: 1px solid #999;
        }
    }

    label {
        position: absolute;
        top: 20px;
        left: 20px;
        color: #aaa;
    }
}


#sidebar-items {
    ul {
        color: #555;

        li {
            margin-bottom: 10px;

            small {
                color: #999;
                display: block;
                margin-top: -1px;
            }
        }
    }
}

#content {
    box-shadow: -10px 0 25px rgba(0,0,0,0.1);
    flex: 1;
}

.content-wrapper {
    margin: 0;
    padding: 0;
    min-width: 320px;
}

#content {
    padding: 25px 35px;

    h2 {
        font-size: 26px;
        margin: 0 0 15px;
        border-bottom: 1px solid #c0c4c2;
    }
}

#footer {
    margin-top: -10px;
    background-color: #373433;
    color: #fff;
    text-align: center;
    padding: 10px;
    clear: both;

    a {
        color: #F49765;
    }
}
