// Variables

@link: #D46715;
@linkHover: #b24200;
@darkLink: #4F4033;
@darkLinkHover: #6F4022;

html {
    height: 100%;
}

body {
    background: #ECEAE7;
    height: 100%;
}

a {
    color: @link;

    &:hover, &:active, &:focus {
        color: @linkHover;
        outline: none !important;
    }
}

.btn-primary {
    color: #fff;
    background-color: #D46715;
    border-color: #c45310;

    &:hover, &:active, &:focus {
        background-color: #c45310 !important;
        border-color: #b24200 !important;
        outline: none !important;
    }
}

.nav-decorator {
    background: #373433;
    height: 42px;
    width: 100%;
    position: absolute;
    top: 47px;
    z-index: -1;
}

.visible-xxs {
    display: none;
}

@media screen and (max-width: 370px) {
    .hidden-xxs {
        display: none;
    }
    .visible-xxs {
        display: block;
    }
}

#logo {
    background: #D26725;
    width: 80px;
    height: 82px;
    text-align: center;
    color: #fff;
    font-size: 28px;
    line-height: 26px;
    padding-top: 14px;
    float: left;
    font-family: Tahoma;
}

#logo small {
    font-size: 18px;
}

#navigation {
    margin: 0;
    background: #373433;
    height: 42px;
    width: 100%;
    list-style: none;
    padding: 0 0 0 100px;

    li {
        color: #fff;
        float: left;
        padding: 13px 30px 0 0px;

        &.active {
            font-weight: bold;
        }

        a {
            color: #fff;
            cursor: pointer;
            text-decoration: none !important;
        }
    }

    .language-picker {
        margin: 8px 10px 0 0;
        button {
            background: transparent;
            border: none;
            box-shadow: none;
            color: #F4c785;

            &.active {
                color: #fff;
                font-weight: bold;
            }
        }
    }
}

.navbar-toggle {
    display: none;
    position: absolute;
    padding: 9px 10px;
    background: none;
    border: 0 none;
    right: 0px;
    top: 45px;

    .sr-only {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0,0,0,0);
        border: 0;
    }

    .icon-bar {
        background-color: #fff;
    }

    .icon-bar {
        display: block;
        width: 22px;
        height: 2px;
        border-radius: 1px;
    }
    .icon-bar+.icon-bar {
        margin-top: 4px;
    }
}

#sidebar-menu {
    display: none;
    margin-top: 15px;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            margin: 0;
            padding: 0;

            a {
                display: block;
                padding: 5px 30px 5px 20px;

                i {
                    float: right;
                    margin-top: 4px;
                }

                &:hover {
                    text-decoration: none;
                    background: #f0f0f0;
                }
            }
        }
    }
}

@media screen and (max-width: 755px) {
    .navbar-toggle {
        display: block;
    }
    #sidebar {
        display: none;
    }
    #sidebar.on {
        display: block;
    }
    #navigation {
        .language-picker {
            margin-right: 60px;
        }
    }
}

@media screen and (max-width: 550px) {
    #navigation {
        li {
            display: none;
        }
        .language-picker {
            display: none;
        }
    }
    #navigation #login-dropdown-list {
        display: block;
        .dropdown-menu {
            left: -90px;
        }
    }
    #sidebar-items {
        overflow: hidden;
        width: 260px;
    }
    #sidebar-menu {
        display: block;
    }
}


#login-dropdown-list .dropdown-menu a {
    color: @link !important;
}

#top-header {
    margin: 0 0 0 80px;
    padding: 13px 0 0 15px;
    height: 47px;
    color: rgb(101, 96, 94);
    font-size: 21px;
    font-family: tahoma, sans-serif;
}

.header {
    -webkit-box-flex: 0;
    -webkit-flex: none;
    flex: none;
}

.container {
    padding: 0;
    background: #FFF;
    box-shadow: 0 0 2.5em .5em rgba(0, 0, 0, 0.4);
    z-index: 1;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    min-height: 100vh;
}

#main {
    clear: both;
    -webkit-flex: 1 0 auto;
    flex: 1 0 auto;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
}

#sidebar {
    width: 260px;
    padding-bottom: 10px;

    .sidebar-section {
        margin-top: 20px;
    }

    h2 {
        margin: 0 0 17px 20px;
        padding: 0;
        font-size: 16px;
        color: #777;
    }

    h3 {
        margin: 0;
        padding: 0;
        font-size: 14px;
        color: #555;
    }

    .categories {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            margin: 0;
            padding: 0;

            a {
                display: block;
                padding: 5px 30px 5px 20px;

                i {
                    float: right;
                    margin-top: 4px;
                }

                &:hover {
                    text-decoration: none;
                    background: #f0f0f0;
                }
            }
        }
    }
}

#searchbar {
    padding: 20px;
    position: relative;

    input {
        background: transparent;
        border: 0 none;
        width: 100%;
        border-bottom: 1px solid #ddd;
        padding-left: 20px;

        &:focus {
            outline: none;
            border-bottom: 1px solid #999;
        }
    }

    label {
        position: absolute;
        top: 20px;
        left: 20px;
        color: #aaa;
    }
}


#sidebar-items {
    ul {
        color: #555;
        padding: 0 24px 0 20px;

        li {
            margin-bottom: 10px;

            small {
                color: #999;
                display: block;
                margin-top: -1px;
            }
        }

        .recents-item {
            display: flex;
            text-decoration: none !important;
            margin-top: 10px;

            .item-image {
                width: 40px;
                position: relative;
                img {
                    border: 1px solid #ccc;
                    width: 30px;
                }
            }
            .item-content {
                flex: 1;
                span {
                    color: #a27230;
                }
            }
        }
    }
}

#content {
    box-shadow: -10px 0 25px rgba(0,0,0,0.1);
    -webkit-flex: 1;
    flex: 1;
    .content-wrapper {
        padding: 0;
        margin: 25px 35px;
        min-width: 270px;
        display: block;
        h2 {
            font-size: 26px;
            margin: 0 0 15px;
            border-bottom: 1px solid #c0c4c2;

            a.btn {
              display:inline-block;
              margin-bottom: 4px;
              margin-left:10px;
            }
        }

        h3 {
            font-size: 20px;
            margin: 20px 0 12px;
        }
        
        p {
            white-space: pre-wrap;
        }

        .filters {
            background: #F2F0ED;
            padding: 10px;
            margin-bottom: 15px;
        }
    }
}

@media screen and (max-width: 550px) {
    #content {
        .content-wrapper {
            margin: 20px 15px;

            h2 {
                font-size: 22px;
            }
        }
    }
}

#footer {
    background-color: #373433;
    color: #fff;
    text-align: center;
    padding: 10px;
    -webkit-box-flex: 0;
    -webkit-flex: none;
    flex: none;

    a {
        color: #F49765;
    }
}

@media screen and (max-width: 750px) {
    #footer {
        span {
            display: block;
        }

        br {
            display: none;
        }
    }
}

@media screen and (max-width: 410px) {
    #footer {
        font-size: 11px;
    }
}

.items {
    .publication.item {
        width: 154px;
        margin-left: 15px;
        display: inline-block;
        vertical-align: top;
        &:hover {
            cursor: pointer;
            text-decoration: none;
            p {
                color: @darkLinkHover;
                outline: none !important;
            }
        }
        p {
            padding: 8px 0 14px 0;
            color: @darkLink;
            span {
                color: #999;
            }
        }
        .item-image {
            height: 154px;
            position: relative;
            img {
                position: absolute;
                bottom: 0;
                -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(90%, transparent) , to(rgba(250, 250, 250, 0.4)));
                max-height: 154px;
                max-width: 120px;
            }
        }
    }
    .letter.item {
        display: flex;
        text-decoration: none !important;
        margin-top: 10px;
        
        .item-image {
            height: 48px;
            width: 40px;
            position: relative;
            img {
                border: 1px solid #ccc;
                height: 48px;
            }
        }
        p {
            flex: 1;
            span {
                color: #a27230;
            }
        }
    }
    &::after {
        content: "";
        clear: both;
    }
}

@media screen and (max-width: 1200px) {
    .items {
        .item {
            width: 142px;
        }
    }
}

#admin-items-filter {
  margin-bottom: 20px;
}
