<template name="adminItemsList">
<h2>Manage archive items
  <a class="btn btn-default btn-xs" href="{{pathFor 'admin.items.add'}}">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add
  </a>
  {{> adminLanguagePicker}}
</h2>

<div id="admin-items-filter" class="row">
  <div class="col-md-6">
    Category:
    <select id="admin-items-category">
      <option value="">All</option>
      {{#each categories}}
      <option value="{{_id}}">{{name}}</option>
      {{/each}}
    </select>
  </div>
  <div class="col-md-6">
    Filter items:
    <input type="text" class="form-control input-sm" id="content-filter-text" placeholder="Publication name, code, etc...">
  </div>
</div>

<div class="items row">
  {{#each items}}
  <div class="item">
    <div class="item-image">
      <img src="https://placeholdit.imgix.net/~text?txtsize=20&txt=cover%20image&w=120&h=154">
    </div>
    <p>{{title}} {{#if code}}<span>({{code}})</span>{{/if}}</p>
  </div>
  {{/each}}
</div>

</template>
