<template name="adminItemsList">
<h2>Manage archive items
  <a class="btn btn-default btn-xs" href="{{pathFor 'admin.items.add'}}">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add
  </a>
  {{> adminLanguagePicker}}
</h2>

<div id="admin-items-filter" class="row">
  <div class="col-md-4">
    Type:
    <select id="admin-items-type">
      <option value="">All</option>
      {{#each types}}
      <option value="{{this}}">{{this}}</option>
      {{/each}}
    </select>
  </div>
  <div class="col-md-4">
    Category:
    <select id="admin-items-category">
      <option value="">All</option>
      {{#each categories}}
      <option value="{{_id}}">{{name}}</option>
      {{/each}}
    </select>
  </div>
  <div class="col-md-4">
    <input type="text" class="form-control input-sm" id="content-filter-text" placeholder="Filter by name, code, etc...">
  </div>
</div>

<div class="items row">
  {{#each items}}
    {{> adminItemsItem}}
  {{/each}}
</div>

</template>

<template name="adminItemsItem">
  <a class="publication item" href="{{pathFor 'admin.items.edit'}}">
    <div class="item-image">
      <img src="{{image.url}}">
    </div>
    <p>{{title}} {{#if code}}<span>({{code}})</span>{{/if}}</p>
  </a>
</template>
