<template name="adminItemsList">
<h2>Manage archive items
  <a class="btn btn-default btn-xs" href="{{pathFor 'admin.items.add'}}">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add
  </a>
  {{> adminLanguagePicker}}
</h2>

<div class="items row">
  <div class="col-md-12">
  {{> tabular table=TabularTables.AdminItems selector=selector class="table table-striped items-table"}}
  </div>
</div>

</template>

<template name="adminItemsItem">
  <a class="publication item" href="{{pathFor 'admin.items.edit'}}">
    <div class="item-image">
      <img src="{{image.url}}">
    </div>
    <p>{{title}} {{#if code}}<span>({{code}})</span>{{/if}}</p>
  </a>
</template>

<template name="adminItemsCellImage">
  <img src="{{cover.url}}" width="50">
</template>

<template name="adminItemsCellActions">
  <button type="button" class="btn btn-sm btn-default edit" data-id="{{_id}}">Edit</button>
</template>
