<template name="sidebarAdmin">
<div id="sidebar">
  <div class="sidebar-section">
    <h2>Archive</h2>
    <ul>
      <li><a href="{{pathFor 'admin.items.list'}}">Items</a></li>
      <li><a href="{{pathFor 'admin.categories.list'}}">Categories</a></li>
    </ul>
  </div>

  <div class="sidebar-section">
    <h2>Text content</h2>
    <ul>
      <li><a href="{{pathFor 'admin.pages.list'}}">Pages</a></li>
      <li><a href="{{pathFor 'admin.strings.manage'}}">Translations</a></li>
      <li><a href="{{pathFor 'admin.strings.languages'}}">Languages</a></li>
    </ul>
  </div>
</div>
</template>
