<template name="home">
  <h2>Welcome to WTS Archive!</h2>
  <p>This website was created to gather all Watchtower Society materials in one place, categorized and searchable.</p>
  <p>Why create another website when <b>jw.org</b> is already available? Because you won't find everything in there. For example, you will not find:
  <ul>
    <li>Letter's to Bodies of Elders</li>
    <li>Elder's "Shepherd" handbook</li>
    <li>Old publications (before year 2000)</li>
    <li>Unreleased materials</li>
  </ul></p>
  <p>We believe in transparency. If you are a part of a religion, you should have access to all the information. That's why <b>WT Archive</b> exists.</p>
</template>
