<head>
<title>WTS Archive</title>
  <meta name="viewport" content="width=device-width, user-scalable=no">
</head>

<template name="layout">
  <div class="nav-decorator"></div>
  <div class="container">
    <div class="header">
      <div id="logo">
        WT<br><small>Archive</small>
      </div>
      <h1 id="top-header" class="hidden-xxs">Watchtower Society Archive</h1>
      <h1 id="top-header" class="visible-xxs">WTS Archive</h1>
      {{> navigation}}
    </div>
    <div id="main">
      <div id="sidebar">
        <div id="sidebar-menu">
          <h2>Menu</h2>
          <ul>
            {{> navigationLinks}}
          </ul>
        </div>
        {{> Template.dynamic template=sidebarTemplate}}
      </div>

      <div id="content">
        <div class="content-wrapper">
          {{> yield }}
        </div>
      </div>
    </div>
    <div id="footer">
      WTS Archive does not hold copyright over listed material. All publications are copyrighted by their respective owners.<br>
      Got something that should be listed here? <a href="mailto:wtsarchive@gmail.com">Contact us!</a>
    </div>
  </div>
</template>
