<template name="itemsList">
  <h2>{{category.name}}
    {{#if notFound}}Category not found!{{/if}}</h2>

  <p>{{category.description}}</p>

  {{#if showFilters}}
  <div class="filters">
    {{> itemPager}}
    {{_ "Show year:"}}
    <select id="items-year">
      <option value="all">{{_ 'All years'}}</option>
      {{#each years}}
      <option value="{{year}}" selected={{selected}}>{{year}}</option>
      {{/each}}
    </select>
  </div>
  {{/if}}

  <div class="items">
    {{#if isTagView}}
      {{#each items}}
        {{> itemsTagListItem}}
      {{/each}}
    {{else}}
      {{#each items}}
        {{> itemsListItem}}
      {{/each}}
    {{/if}}
  </div>

</template>

<template name="itemsTagListItem">
  {{> lettersListItem}}
</template>

<template name="itemsListItem">
  {{#if isPublication}}
  {{> pubsListItem}}
  {{else}}
  {{> lettersListItem}}
  {{/if}}
</template>
