<template name="navigation">
<ul id="navigation">
  {{> navigationLinks}}
  {{> loginButtons}}
  {{> languagePicker}}
</ul>
<button class="navbar-toggle" type="button">
  <span class="sr-only">Toggle navigation</span>
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
</button>
</template>

<template name="_loginButtonsAdditionalLoggedInDropdownActions">
  {{#if isAdmin}}
  <a class="btn btn-default btn-block" href="{{pathFor 'admin.index'}}">Admin panel</a>
  {{/if}}
</template>

<template name="navigationLinks">
  <li class="{{active 'home'}}"><a href="{{pathFor 'home'}}">Home</a></li>
  <li class="{{active 'pubs'}}"><a href="{{pathFor 'pubs.index'}}">Publications</a></li>
  <li class="{{active 'letters'}}"><a href="{{pathFor 'letters.index'}}">Letters</a></li>
</template>
