<template name="navigation">
<ul id="navigation">
  <li class="{{active 'home'}}"><a href="{{pathFor 'home'}}">Home</a></li>
  <li class="{{active 'publications'}}"><a href="{{pathFor 'publications'}}">Publications</a></li>
  <li class="{{active 'letters'}}"><a href="{{pathFor 'letters'}}">Letters</a></li>
  {{> loginButtons}}
</ul>
</template>

<template name="_loginButtonsAdditionalLoggedInDropdownActions">
  {{#if isAdmin}}
  <a class="btn btn-default btn-block" href="{{pathFor 'admin.index'}}">Admin panel</a>
  {{/if}}
</template>
