<template name="navigation">
<ul id="navigation">
  {{> navigationLinks}}
  {{> languagePicker}}
</ul>
<button class="navbar-toggle" type="button">
  <span class="sr-only">Toggle navigation</span>
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
</button>
</template>

<template name="_loginButtonsAdditionalLoggedInDropdownActions">
  {{#if isAdmin}}
  <a class="btn btn-default btn-block" href="{{pathFor 'admin.index'}}">{{_ 'Admin panel'}}</a>
  {{/if}}
</template>

<template name="navigationLinks">
  <li class="{{active 'home'}}"><a href="{{pathFor 'home'}}">{{_ 'Home'}}</a></li>
  <li class="{{active 'pubs'}}"><a href="{{pathFor 'pubs.index'}}">{{_ 'Publications'}}</a></li>
  <li class="{{active 'letters'}}"><a href="{{pathFor 'letters.index'}}">{{_ 'Letters'}}</a></li>
  <li><a href="https://chat.wtsarchive.com" target="_blank">{{_ 'Chat'}}</a></li>
  {{#if isLoggedIn}}
  <li class="{{active 'admin'}}"><a href="{{pathFor 'admin.index'}}">{{_ 'Admin'}}</a></li>
  <li><a href="#" class="at-logout">{{_ 'Logout'}}</a></li>
  {{else}}
  <!--<li><a href="{{pathFor 'login'}}">{{_ 'Login'}}</a></li>-->
  {{/if}}
</template>
